/myenv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
db.sqlite3

# If you are using PostgreSQL or MySQL
*.pgdata
*.pg_wal
*.mysql

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# pipenv
Pipfile
Pipfile.lock

# Python virtual environment
*.env
.venv/

# Node and npm
node_modules/
npm-debug.log

# Django migrations
*/migrations/*

# Media and static files
/media
/staticfiles
/static

# JetBrains IDEs (PyCharm, IntelliJ IDEA, etc.)
.idea/

# VS Code
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Backup files
*.bak

# Secret files
secrets.json
